<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ABotReborn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <ABotReborn.Properties.Settings>
      <setting name="channel" serializeAs="String">
        <value>IHellMasker</value>
      </setting>
      <setting name="currency" serializeAs="String">
        <value>gil</value>
      </setting>
      <setting name="interval" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="payout" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="subMultiplier" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="autoMessageEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="amMinInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="amMinCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="autoMessage1" serializeAs="String">
        <value>If you've been enjoying the stream, click that follow button to show your support Kappa</value>
      </setting>
      <setting name="autoMessage2" serializeAs="String">
        <value />
      </setting>
      <setting name="autoMessage3" serializeAs="String">
        <value />
      </setting>
    </ABotReborn.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>